In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
df = pd.read_csv('/content/drive/MyDrive/Project/Student-performance-UCI/Datasets/student_combined.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      1044 non-null   object
 1   sex         1044 non-null   object
 2   age         1044 non-null   int64
 3   address     1044 non-null   object
 4   famsize     1044 non-null   object
 5   Pstatus     1044 non-null   object
 6   Medu        1044 non-null   int64
 7   Fedu        1044 non-null   int64
 8   Mjob        1044 non-null   object
 9   Fjob        1044 non-null   object
 10  reason      1044 non-null   object
 11  guardian    1044 non-null   object
 12  traveltime  1044 non-null   int64
 13  studytime   1044 non-null   int64
 14  failures    1044 non-null   int64
 15  schoolsup   1044 non-null   object
 16  famsup      1044 non-null   object
 17  paid        1044 non-null   object
 18  activities  1044 non-null   object
 19  nursery     1044 non-null   object
 20  higher      1044 non-null   object
 21  internet    1044 non-null   object
 22  romantic    1044 non-null   object
 23  famrel      1044 non-null   int64
 24  freetime    1044 non-null   int64
 25  goout       1044 non-null   int64
 26  Dalc        1044 non-null   int64
 27  Walc        1044 non-null   int64
 28  health      1044 non-null   int64
 29  absences    1044 non-null   int64
 30  subject     1044 non-null   object
 31  G1          1044 non-null   int64
 32  G2          1044 non-null   int64
 33  G3          1044 non-null   int64
dtypes: int64(16), object(18)
memory usage: 277.4+ KB

Label encode all the columns to save dimension space

In [8]:
# Assuming the DataFrame is named 'df'
label_mapping = {
    'school': {'GP': 0, 'MS': 1},
    'sex': {'F': 0, 'M': 1},
    'address': {'U': 0, 'R': 1},
    'famsize': {'GT3': 0, 'LE3': 1},
    'Pstatus': {'A': 0, 'T': 1},
    'Mjob': {'at_home': 0, 'health': 1, 'other': 2, 'services': 3, 'teacher': 4},
    'Fjob': {'at_home': 0, 'health': 1, 'other': 2, 'services': 3, 'teacher': 4},
    'reason': {'course': 0, 'home': 1, 'other': 2, 'reputation': 3},
    'guardian': {'father': 0, 'mother': 1, 'other': 2},
    'schoolsup': {'no': 0, 'yes': 1},
    'famsup': {'no': 0, 'yes': 1},
    'paid': {'no': 0, 'yes': 1},
    'activities': {'no': 0, 'yes': 1},
    'nursery': {'no': 0, 'yes': 1},
    'higher': {'no': 0, 'yes': 1},
    'internet': {'no': 0, 'yes': 1},
    'romantic': {'no': 0, 'yes': 1},
    'subject': {'Math': 0, 'Portuguese': 1}
}

# Manually label encode using the mapping
df.replace(label_mapping, inplace=True)

# Print the updated DataFrame
df.head(n = 5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,subject,G1,G2,G3
0,0,0,18,0,0,0,4,4,0,4,...,3,4,1,1,3,6,0,5,6,6
1,0,0,17,0,0,1,1,1,0,2,...,3,3,1,1,3,4,0,5,5,6
2,0,0,15,0,1,1,1,1,0,2,...,3,2,2,3,3,10,0,7,8,10
3,0,0,15,0,0,1,4,2,1,3,...,2,2,1,1,5,2,0,15,14,15
4,0,0,16,0,0,1,3,3,2,2,...,3,2,1,2,5,4,0,6,10,10

Export as splited train and test datasets

In [12]:
from sklearn.model_selection import train_test_split
y = df["G3"]
df1 = df.drop("G3", axis = 1)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df1, y,test_size=0.3,
                                                    random_state=42)

In [13]:
X_train.to_csv('/content/drive/MyDrive/Project/Student-performance-UCI/Datasets/x_train.csv', index=False)
X_test.to_csv('/content/drive/MyDrive/Project/Student-performance-UCI/Datasets/x_test.csv', index=False)
y_train.to_csv('/content/drive/MyDrive/Project/Student-performance-UCI/Datasets/y_train.csv', index=False)
y_test.to_csv('/content/drive/MyDrive/Project/Student-performance-UCI/Datasets/y_test.csv', index=False)

Export whole dataset

In [14]:
df1.to_csv('/content/drive/MyDrive/Project/Student-performance-UCI/Datasets/student_clean.csv', index = False)

In [15]:
y.to_csv('/content/drive/MyDrive/Project/Student-performance-UCI/Datasets/y_clean.csv', index = False)